<div class="modal-header">
  <h4 class="modal-title" id="modal-title">{{data.title}}</h4>
</div>

<div class="modal-body" *ngIf="!data.ShowLoadingAnimation">
  <p><strong>{{data.message}}</strong></p>
</div>

<div class="modal-body" *ngIf="data.ShowLoadingAnimation">
  <div class="spinner-container">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="modal-footer" *ngIf="!data.ShowLoadingAnimation">
  <button type="button" class="btn btn-danger" (click)="activeModal.close()" #btnOk >Ok</button>
</div>
