<h1>Create person</h1>
<br />

<form>
  <p>Enter the details of the person you want to create. All fields are required.</p>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="person.firstName" name="firstName" placeholder="First name">
    </div>
    <div class="form-group col-md-6">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName" placeholder="Last name">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" [(ngModel)]="person.address" name="address" placeholder="Address">
    </div>
    <div class="form-group col-md-6">
      <label for="telephoneNumber">Telephone number</label>
      <input type="text" class="form-control" id="telephoneNumber" [(ngModel)]="person.telephoneNumber" name="telephoneNumber" placeholder="Telephone number">
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="CreatePerson()">Create</button>
</form>


<app-alert-on-page></app-alert-on-page>

<br />
<br />
<app-list-view [paginationParams]="paginationParams"></app-list-view>
